<div class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <NavLink class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
        <img src="images/rpslogo.png" class="logo">
    </NavLink>
    <nav class="my-2 my-md-0 mr-md-3">
        <TelerikMenu Data="@MyMenuItems" UrlField="@nameof(MenuItem.Page)" Orientation="@orientation">
        </TelerikMenu>
    </nav>
</div>

@code {
    MenuOrientation orientation = MenuOrientation.Horizontal;

    public IEnumerable<MenuItem> MyMenuItems { get; set; }

    public class MenuItem
    {
        public string Text { get; set; }
        public string Page { get; set; }
        public List<MenuItem> Items { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        List<MenuItem> mitems = new List<MenuItem> {
            new MenuItem {  Text = "Dashboard", Page = "/dashboard" },
            new MenuItem {  Text = "Backlog", Items = new List<MenuItem> {
                    new MenuItem {  Text = "My Items", Page = "/backlog/my" },
                    new MenuItem {  Text = "Open Items", Page = "/backlog/open" },
                    new MenuItem {  Text = "Closed Items", Page = "/backlog/closed" }
                }
            }
        };

        MyMenuItems = mitems;
    }
}